.tweets{
  position: absolute;
  top: 10px;
  left: 60vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: space-around;
  width: 250px;
}

.tweet{
  flex: 1;
  margin: 10px;
  padding: 10px;
  color:#333;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid rgb(178, 34, 52);
  border-radius: 30px 30px;
  align-self: stretch;
  width: 250px;
  opacity: 0;
  animation: fadeIn 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}