@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  font-family: 'Roboto', sans-serif;
  margin:0;
}
.app {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.soviet-stars-flag, .usa-ussr-flag{
  display:block;
  position: relative;
  flex: 1;
  margin: 10px 0 40px 0;
}
.soviet-stars-flag{
  margin-top: 5px;
}

#trump{
  flex: 0;
  cursor: pointer;
}

.trump-head,.trump-mouth{
  display: block;
  position: absolute;
  top: 660px;
  width:800px;
  transition: top 2s ease;
}

.bigscreen{
  top: 180px;
}

.move-mouth{
  animation: move 0.5s;
  animation-iteration-count: 10;
}

@keyframes move {
  50% {
     transform: translate(0, 40px);
  }
}

@media (max-width: 414px){
  .app{
    margin-top: 50px;
  }
  .soviet-stars-flag, .usa-ussr-flag{
    margin: 5px 0 5px 0;
    width: 100vw;
    height: 225px;
  }
  .trump-head, .trump-mouth{
    width: 250px;
    top: 330px;
  }
  .bigscreen{
    top: 130px;
  }
 @keyframes move {
  50% {
     transform: translate(0, 10px);
  }
} 
}